<!DOCTYPE html>
<html>
<head>
    <title>Astrologie Orion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <header>
        <div class="container">
            <div id="logo">
                <span id="marque">Astrologie Orion</span>
            </div>
            <div id="menu">
                <a href="main.html">Accueil</a>
                <a href="profil.html">Profil des signes</a>
                <a href="contact.html">Nous joindre</a>
            </div>
        </div>
    </header>

    <div id="main">

        <div id="image-main">
            <img src="astrology-logo.png" />
        </div>

        <div id="container-main">
            <h1 id="titlePageMain">Bienvenue chez Orion</h1>
            <p>
                L'astrologie est l'une des sciences les plus précieuses et traditionnelles de l'humanité.
                Il nous présente des aspects de notre personnalité que nous connaissons déjà, mais aussi ce que
                nous ne savons pas encore.
                Découvrez tout sur l'astrologie, connaissez vos caractéristiques astrologiques sur votre carte,
                apprenez à améliorer vos qualités et à surmonter vos défis.
            </p>
        </div>
    </div>

    <footer>2020 Astrologie Orion - Tous droits réservés</footer>

</body>

</html>